#content {
    display: flex;
    align-items: center;

    button {
        display: flex;

        border: none;
        background: none;
        cursor: pointer;
        padding: 0 8px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
        color: #fefefe;
    }
}