.badge-low-content {
    background: #77DD77;
    width: 116px;
    height: 27px;
    border-radius: 8px;
    border: 2px solid #77DD77;
    text-align: center;
    color: #f8f8f8;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}