#view-ticket-content {
    main {
        margin-top: 43px;


        .titleSolutions {
            text-align: center;
            margin: 50px 0px;
            font-size: 28px;
        }

        .main-search-area {
            display: flex;  
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
            
            input {
                width: 448px;
                padding: 16px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0, 0.04);
                color: #29292E;
            }

            select {
                width: 448px;
                padding: 16px;
                margin-bottom: 16px;
                border: none;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0, 0.04);
                color: #29292E;
            }

            h1{
                text-align: center;
            }
        }

        table {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 32px;
            width: 90%;
            
            background-color: #fefefe;
            
           thead {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                padding: 16px;
                border-bottom: 1px solid #E2E2E2;
                border-top: 1px solid #E2E2E2;
                border-left: 1px solid #E2E2E2;
                border-right: 1px solid #E2E2E2;

                tr {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    padding: 16px;
                    border-collapse: collapse;

                    th {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        
                        
                        span {
                            text-align: center;
                            width: 100%;
                            
                        }
                    }
                }
            }

            tbody {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 16px;
                border-bottom: 1px solid #E2E2E2;
                border-left: 1px solid #E2E2E2;
                border-right: 1px solid #E2E2E2;

                tr {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    width: 100%;
                    padding: 16px;

                    cursor: pointer;
             
                    td {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        
                        span {
                            text-align: center;
                            width: 100%;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}
